.comment-modal {
    background-color: #fff;
    width: 100%;
    max-width: 550px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .close-model{
    padding: 4px 15px 4px 15px;
    border-radius: 10px;
    margin: 0 0 5px 90%;
    color: #fff;
    cursor: pointer;
    background-color: #3894e5;
    border: none;
  }

  .close-model:hover{
    background-color: #007bff;
  }
  
  .comments-section {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 5px 0 10px 0;
  }
  
  .comment-sec {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .comment span {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .comment p {
    margin: 5px 0;
    font-size: 14px;
    color: #eaeaea;
  }
  
  .reply-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .reply-section input {
    flex: 1;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .add-comment-section {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
  }
  
  .add-comment-section input {
    flex: 1;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  button.comment {
    background-color: #3894e5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.comment:hover {
    background-color: #0056b3;
  }
  
  button.comment:focus {
    outline: none;
  }
  
  button.comment:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .comment-modal::-webkit-scrollbar {
    width: 8px;
  }
  
  .comment-modal::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
  }
  
  .comment-modal::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  