#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Default Styles for Desktop */
body {
  font-size: 18px;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.chat-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}


